<h3> THEAUDIODB ARTIST LIST </h3>

<% if @searched_artists.any? %>

    <% @searched_artists.each do |artist|%>

        <p><%= link_to artist.name, artist_path(artist)  %></p>
        <p><%= '**************************************' %></p>

    <% end %>

<% else %>

    <p> La búsqueda no tuvo suerte o está mal escrita. </p>
    
<% end %>

