<!-- El _ al principio indica que es un partial
        el cual vamos a llamar varias veces, rellenandolo con distintos datos 
        params: favorites - lista de favorites -->

  <div>
  <table class="table-favorites-user">
    <thead>
      <tr>
        <th class="th-favorites-user">FAVORITES <%= title %></th>
      </tr>
    </thead>
    <tbody>

      <% favorites.each do |favorite| %>
      
        <% if favorite.class == Artist %>
          <tr>
            <td class="td-favorites-user"> <%= link_to favorite.name, artist_path(id: favorite.id), class: "a-without-line"  %> </td>
          </tr>
        <% elsif favorite.class == Album %>
          <tr>
            <td class="td-favorites-user"> <%= link_to favorite.name + " - " + favorite.artist.name.to_s, artist_album_path(id: favorite.id, artist_id: favorite.artist.id), class: "a-without-line" %> </td>
          </tr>
        <% elsif favorite.class == Track %>
          <tr>
            <td class="td-favorites-user"> <%= link_to favorite.name + " - " + favorite.album.artist.name.to_s, artist_album_tracks_path(artist_id: favorite.album.artist.id, album_id: favorite.album.id, id: current_user), class: "a-without-line"  %> </td>
          </tr>
        <% end %>

      <% end %>

    </tbody>
  </table>
  </div>

