<h3> <%= @artist.name.upcase! %> ALBUM LIST </h3>

<% if @searched_albums.any? %>

    <% @searched_albums.each do |album|%>

        <p><%= link_to album.name, album_path(album)  %></p>
        <p><%= '**************************************' %></p>

    <% end %>

<% else %>

    <p> La búsqueda no tuvo suerte. </p>
    
<% end %>
