/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.padrealigncenter{
    justify-content: center;
    text-align: center;
}

.form-new{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

h1{
    text-align: center
}

img{
    display: block;
    margin: auto;
}

body{
    padding: 50px;
}

.caption-favorites-user{
    text-align: center;
    font-weight: bold;
}

.table-favorites-user{
    margin: auto;
    width: 30%;
} 

.th-favorites-user{
    border: 3px solid black;
    text-align: center;
}

.td-favorites-user{
    text-align: center;
}

.field{
    font-size: large;
    font-weight: bold;
}