<header class="form-new">
    <nav>
      <div class="navegator header">

        <div class="title-img">

          <p class="title">THEAUDIODB</p>
          <img src="/logo_3d.png">

        </div>
        
        <div class="links-nav">

          <div class="left">Sesión iniciada: <%=link_to current_user.name.to_s, user_path(current_user), class:"a-without-line"%></div>
          <%=link_to "Cerrar sesión", destroy_user_session_path, method: "DELETE", class:"a-without-line right"%>

        </div>
        
      </div>
    </nav>
</header>